* {
  box-sizing: border-box; }

html {
  font-family: 'Nunito Sans', sans-serif;
  background: #181919;
  color: #f2f3f4;
  font-size: 20px;
  font-weight: 200; }
  @media (min-width: 576px) {
    html {
      font-size: 26px; } }

h3 {
  text-align: center;
  font-size: 30px;
  line-height: 1.2; }

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted #f2f3f4; }
  a:hover, a:active {
    color: #5decf3; }
  a.button {
    border-bottom: none;
    font-weight: 800;
    background: #0f1d4f;
    padding: 10px 15px;
    display: block;
    text-align: center; }
    @media (min-width: 576px) {
      a.button {
        max-width: 300px;
        margin: 0 auto; } }
    a.button.light {
      background: #098ed8; }

@media (min-width: 992px) {
  .text-container {
    max-width: 850px;
    margin: 0 auto; } }

.hero {
  background: #098ed8 url("/img/hero.jpg") no-repeat center center;
  background-size: cover;
  text-align: center; }
  .hero .header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .hero .header .menu {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .hero .header .menu li {
        display: inline-block;
        margin-right: 10px;
        font-size: 16px; }
  .hero .container {
    padding: 15px 25px 80px 25px; }
    .hero .container .title {
      font-size: 20px;
      padding-bottom: 10px; }
      .hero .container .title img {
        margin-bottom: -20px; }
      @media (min-width: 576px) {
        .hero .container .title {
          font-size: 30px; } }
    .hero .container h1 {
      line-height: 1;
      font-size: 36px; }
      @media (min-width: 576px) {
        .hero .container h1 {
          font-size: 50px; } }
      @media (min-width: 992px) {
        .hero .container h1 {
          font-size: 60px;
          padding: 60px 0; }
          .hero .container h1 span {
            display: block; } }
    .hero .container .ticket-box {
      padding-top: 40px; }
      .hero .container .ticket-box .time {
        font-weight: 800;
        padding-top: 15px; }
      .hero .container .ticket-box .button {
        margin-top: 15px; }

.highlights {
  padding: 60px 25px 100px 25px;
  text-align: center; }
  @media (min-width: 576px) {
    .highlights {
      padding: 60px 50px 100px 50px; } }
  .highlights .last-year {
    height: 200px;
    background-color: transparent;
    background-image: url("/img/last-year.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    @media (min-width: 768px) {
      .highlights .last-year {
        height: 300px;
        margin-bottom: 10px; } }
    @media (min-width: 992px) {
      .highlights .last-year {
        height: 400px;
        background-image: url("/img/last-year-hd.jpg"); } }

.speakers {
  background: #3b3c3d;
  padding: 80px 25px; }
  .speakers .speaker-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-item: center; }
    .speakers .speaker-list .speaker {
      margin: 20px;
      width: 220px;
      text-align: center; }
      .speakers .speaker-list .speaker .photo {
        width: 220px;
        text-align: left;
        position: relative; }
        .speakers .speaker-list .speaker .photo img {
          width: 200px;
          heigth: 200px;
          border-radius: 50%; }
        .speakers .speaker-list .speaker .photo .company {
          width: 80px;
          height: 80px;
          position: absolute;
          bottom: 0;
          right: 0; }
          .speakers .speaker-list .speaker .photo .company img {
            border-radius: 50%;
            background: white;
            width: 80px;
            height: 80px; }
      .speakers .speaker-list .speaker .name {
        font-weight: 800;
        margin-top: 10px; }
      .speakers .speaker-list .speaker .title {
        margin-top: 5px;
        font-size: 16px; }
      .speakers .speaker-list .speaker.tba .photo > span {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #098ed8;
        display: flex;
        justify-content: center;
        align-item: center;
        font-size: 152px;
        color: #03aaf4; }
      .speakers .speaker-list .speaker.tba .photo .company > span {
        background: #03aaf4;
        width: 80px;
        height: 80px;
        display: block;
        border-radius: 50%; }
  .speakers .notes {
    text-align: center; }
    @media (min-width: 576px) {
      .speakers .notes span {
        display: block; } }

.vision {
  background: transparent url("/img/vision.jpg") no-repeat center center;
  background-size: cover;
  padding: 60px 0 0 0; }
  .vision h3 {
    font-weight: 200; }
  .vision .visual {
    padding: 0 40px 40px 40px;
    text-align: center; }
    .vision .visual h4 {
      text-align: center;
      font-size: 26px;
      margin: 10px 0 60px 0; }
      @media (min-width: 576px) {
        .vision .visual h4 {
          font-size: 36px; } }
      .vision .visual h4 span {
        display: block; }
    .vision .visual img {
      width: 100%;
      max-width: 329px; }
  .vision .history {
    background: rgba(0, 0, 0, 0.5);
    padding: 25px 25px 80px 25px; }
    @media (min-width: 576px) {
      .vision .history {
        padding: 25px 50px 80px 50px; } }

.sponsor {
  padding: 80px 25px; }
  @media (min-width: 576px) {
    .sponsor {
      padding: 80px 50px; } }
  .sponsor h3 {
    margin: 0 0 60px 0; }
    .sponsor h3 span {
      display: block;
      font-weight: 200; }
  .sponsor .button {
    margin-top: 60px; }

.ticket {
  padding: 80px 25px 120px 25px;
  background: #03aaf4;
  text-align: center; }
  .ticket h3 {
    margin: 0; }
  .ticket .note {
    margin: 0; }
  .ticket .price {
    padding: 40px 0 20px; }
    .ticket .price .discount {
      text-decoration: line-through;
      line-height: 0.7;
      font-weight: 800; }
    .ticket .price .actual {
      font-size: 40px;
      font-weight: 800; }
      .ticket .price .actual span {
        font-weight: 200;
        font-size: 20px;
        padding-left: 10px; }

@media (min-width: 576px) {
  html {
    border: 1px solid pink; } }

@media (min-width: 768px) {
  html {
    border: 1px solid orange; } }

@media (min-width: 992px) {
  html {
    border: 1px solid lightblue; } }

@media (min-width: 1200px) {
  html {
    border: 1px solid lightgreen; } }
