

$bright-blue: #2ee6ef
$light-blue: #03aaf4
$peacock-blue: #098ed8
$ultramarine: #1c3182
$navi: #0f1d4f

$white: #f2f3f4
$light: #cccccc
$grey: #7c7e7f
$dark: #3b3c3d
$black: #181919



*
  box-sizing: border-box
html
  font-family: 'Nunito Sans', sans-serif
  background: $black
  color: $white
  font-size: 20px

a
  color: white
  text-decoration: none
  border-bottom: 1px dotted $white
  &:hover, &:active
    color: lighten($bright-blue, 10)
  &.button
    border-bottom: none
    font-weight: 900
    background: $navi
    padding: 10px 15px
    display: block


.hero
  background: $peacock-blue url('/img/hero.jpg') no-repeat center center
  background-size: cover
  text-align: center
  .header
    padding: 15px
    display: flex
    justify-content: space-between
    width: 100%
    .menu
      list-style-type: none
      padding: 0
      margin: 0
      li
        display: inline-block
        margin-right: 10px
        font-size: 16px
  .container
    padding: 15px 15px 50px 15px
    .title
      img
        margin-bottom: -20px
      font-size: 20px
      padding-bottom: 10px
    h1
      line-height: 1
      font-size: 36px
    .ticket
      font-size: 20px
      .time
        font-weight: 900
        padding-top: 15px
      .button
        margin-top: 15px

.highlights
  padding: 30px 15px 60px 15px
  text-align: center
  img
    width: 100%
    height: auto
    max-width: 503px
    max-height: 186px
    margin: 20px auto
    display: block


.speakers
  background: $dark
  h3
    text-align: center
  .speaker-list
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-item: center
    .speaker
      //border: 1px solid red
      margin: 20px


      width: 220px
      text-align: center
      .photo
        width: 220px
        text-align: left
        img
          width: 200px
          heigth: 200px
          border-radius: 50%
        position: relative
        .company
          width: 80px
          height: 80px
          position: absolute
          bottom: 0
          right: 0
          img
            border-radius: 50%
            background: white
            width: 80px
            height: 80px
            vertical-align: middle

      .name
        font-weight: 900
        margin-top: 10px
      .title
        margin-top: 5px
        font-size: 16px





































