* {
  box-sizing: border-box; }

html {
  font-family: 'Nunito Sans', sans-serif;
  background: #181919;
  color: #f2f3f4;
  font-size: 20px; }

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted #f2f3f4; }
  a:hover, a:active {
    color: #5decf3; }
  a.button {
    border-bottom: none;
    font-weight: 900;
    background: #0f1d4f;
    padding: 10px 15px;
    display: block; }

.hero {
  background: #098ed8 url("/img/hero.jpg") no-repeat center center;
  background-size: cover;
  text-align: center; }
  .hero .header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .hero .header .menu {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .hero .header .menu li {
        display: inline-block;
        margin-right: 10px;
        font-size: 16px; }
  .hero .container {
    padding: 15px 25px 50px 25px; }
    .hero .container .title {
      font-size: 20px;
      padding-bottom: 10px; }
      .hero .container .title img {
        margin-bottom: -20px; }
    .hero .container h1 {
      line-height: 1;
      font-size: 36px; }
    .hero .container .ticket {
      font-size: 20px; }
      .hero .container .ticket .time {
        font-weight: 900;
        padding-top: 15px; }
      .hero .container .ticket .button {
        margin-top: 15px; }

.highlights {
  padding: 30px 25px 60px 25px;
  text-align: center; }
  .highlights img {
    width: 100%;
    height: auto;
    max-width: 503px;
    max-height: 186px;
    margin: 20px auto;
    display: block; }

.speakers {
  background: #3b3c3d;
  padding: 25px; }
  .speakers h3 {
    text-align: center;
    padding-top: 40px; }
  .speakers .speaker-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-item: center; }
    .speakers .speaker-list .speaker {
      margin: 20px;
      width: 220px;
      text-align: center; }
      .speakers .speaker-list .speaker .photo {
        width: 220px;
        text-align: left;
        position: relative; }
        .speakers .speaker-list .speaker .photo img {
          width: 200px;
          heigth: 200px;
          border-radius: 50%; }
        .speakers .speaker-list .speaker .photo .company {
          width: 80px;
          height: 80px;
          position: absolute;
          bottom: 0;
          right: 0; }
          .speakers .speaker-list .speaker .photo .company img {
            border-radius: 50%;
            background: white;
            width: 80px;
            height: 80px; }
      .speakers .speaker-list .speaker .name {
        font-weight: 900;
        margin-top: 10px; }
      .speakers .speaker-list .speaker .title {
        margin-top: 5px;
        font-size: 16px; }
      .speakers .speaker-list .speaker.tba .photo > span {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #098ed8;
        display: flex;
        justify-content: center;
        align-item: center;
        font-size: 152px;
        color: #03aaf4; }
      .speakers .speaker-list .speaker.tba .photo .company > span {
        background: #03aaf4;
        width: 80px;
        height: 80px;
        display: block;
        border-radius: 50%; }

.vision {
  background: transparent url("/img/vision.jpg") no-repeat center center;
  background-size: cover;
  padding: 25px 0 0 0; }
  .vision h3 {
    text-align: center;
    font-weight: normal; }
  .vision .visual {
    padding: 0 25px 25px 25px; }
    .vision .visual h4 {
      text-align: center;
      font-size: 26px;
      margin: 10px 0 60px 0; }
      .vision .visual h4 span {
        display: block; }
    .vision .visual img {
      width: 100%; }
  .vision .history {
    background: rgba(0, 0, 0, 0.5);
    padding: 25px; }
    .vision .history p {
      font-size: 16px; }
