doctype html
html(class='no-js', lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='manifest', href='site.webmanifest')
    link(rel='apple-touch-icon', href='icon.png')
    // Place favicon.ico in the root directory
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito+Sans:200,800')
  <!--[if lte IE 9]>
  p.browserupgrade
    | You are using an
    strong outdated
    |  browser. Please
    a(href='https://browsehappy.com/') upgrade your browser
    |  to improve your experience and security.
  <![endif]-->


  #hero
    .header
      .logo
        img(src='img/uxth-logo-white.png', width='39', height='14')
      ul.menu
        li
          a(href='#hero') Ticket
        li
          a(href='#speakers') Speakers
        li
          a(href='#vision') Vision
        li
          a(href='#sponsors') Sponsor
    .container
      h2.title
        img(src='img/uxth-conference.png')
      h1
        | Two-day conference for people
        span &nbsp;who build world-class products.
      .ticket-box
        .time 23-24 Febuary, 2019 
        .place Bangkok, Thailand
        a(href='https://book.soldoutt.com/uxcon2019/register', target='_blank').button BUY TICKET

  .highlights
    .text-container
      p The UX Thailand Conference is a two-day conference made up of thought-provoking presentations, practical workshops and engaging panel discussions.
    .last-year
    a(href='https://medium.com/@apirak/behind-the-scene-of-ux-thailand-999f876a58ba') See last year’s highlights
  #speakers
    h3 Speakers
    .speaker-list
      .speaker
        .photo
          img(src='img/speakers/jared-spool.jpg')
          .company
            img(src='img/speakers/jared-centercentre.jpg')
        .name Jared Spool
        .title Co-founder of Center Centre
      .speaker
        .photo
          img(src='img/speakers/melissa-perri.jpg')
          .company
            img(src='img/speakers/melissa-produxlabs.jpg')
        .name Melissa Perri
        .title CEO of Produx Labs
      .speaker
        .photo
          img(src='img/speakers/john-cutler.jpg')
          .company
            //img(src='img/speakers/liam-hutchinson-thoughtworks.jpg')
        .name John Cutler
        .title Product Development superstar
      .speaker
        .photo
          img(src='img/speakers/dana-chisnell.jpg')
          .company
            img(src='img/speakers/dana-civicdesign.jpg')
        .name Dana Chisnell
        .title Co-founder at Center for Civic Design
      .speaker
        .photo
          img(src='img/speakers/liam-hutchinson.jpg')
          .company
            img(src='img/speakers/liam-hutchinson-thoughtworks.jpg')
        .name Liam Hutchinson
        .title Experience Design Consultant at ThoughtWorks
      .speaker.tba
        .photo
          span ?
          .company
            span
        .name
        .title To be announced…
    p.notes
      | Once all speakers have been annouced,
      span  we’ll share our schedule for the full two days.



  .ticket
    h3 Early Bird Tickets
    p.note Ends 1st November 2018
    .ticket-group
      .ticket-type
        h3 Inspire (Day 1)
        p.note Conference only
        .price
          .discount &nbsp;4,950&nbsp;
          .actual 2,450
            span THB
        a(href='https://book.soldoutt.com/uxcon2019/register', target='_blank').button BUY

      .ticket-type
        h3 Hands-on (Day 2)
        p.note Workshop only (Limited Seat)
        .price
          .discount &nbsp;11,950&nbsp;
          .actual 8,950
            span THB
        a(href='https://book.soldoutt.com/uxcon2019/register', target='_blank').button BUY

      .ticket-type.full
        h3 Full Experience
        p.note Both Conference & Workshop
        .price
          .discount &nbsp;14,950&nbsp;
          .actual 9,950
            span THB
        a(href='https://book.soldoutt.com/uxcon2019/register', target='_blank').button BUY


  #vision
    h3 Our vision
    .visual
      h4
        | Empower locally,
        span &nbsp;recognised globally.
      img(src='img/upskill-inspire.png')
    .history
      .text-container
        p UX Thailand began as a series of monthly meet-ups, focused on empowering the local community to do great design. When we looked to push this further, The UX Thailand Conference was born.
        p A non-profit, meaning the organisers are all volunteers, we don’t get paid. The money that is made is invested in further empowering the local community. We’ll use the revenue to provide more regular events like our monthly meetup, training courses throughout the year and hope to build relationships across APAC.
        p With all of this, we hope for Thailand to become a globally recognised leader in design.


  #sponsors
    h3
      | Sponsor our vision,
      span connect with an engaged audience
    .text-container
      p You and your organisation supporting our vision is important to us, and we’re grateful.
      p To open this up and give everyone the chance to reach out to an engaged community, we’ve introduced three levels to our sponsorship package.
      p
        | Email us (
        a(href='mailto:uxthconf@gmail.com') uxthconf@gmail.com
        | ) for interest.
    a(href='/sponsor/UXTH-Conference-2019-Sponsor-Pack.pdf', target='_blank').button.light PACKAGE
  p

  script(src='js/vendor/modernizr-3.6.0.min.js')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
  script.
    window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')
  script(src='js/plugins.js')
  script(src='js/main.js')
  // Google Analytics: change UA-XXXXX-Y to be your site's ID.
  script.
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  script(src='https://www.google-analytics.com/analytics.js', async='', defer='')
  |  <script>
  |  !function(f,b,e,v,n,t,s)
  |  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  |  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  |  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  |  n.queue=[];t=b.createElement(e);t.async=!0;
  |  t.src=v;s=b.getElementsByTagName(e)[0];
  |  s.parentNode.insertBefore(t,s)}(window, document,'script',
  |  'https://connect.facebook.net/en_US/fbevents.js');
  |  fbq('init', '413881345685144');
  |  fbq('track', 'PageView');
  |  </script>
  |  <noscript><img height="1" width="1" style="display:none"
  |  src="https://www.facebook.com/tr?id=413881345685144&ev=PageView&noscript=1"
  |  /></noscript>
