doctype html
html(class='no-js', lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='manifest', href='site.webmanifest')
    link(rel='apple-touch-icon', href='icon.png')
    // Place favicon.ico in the root directory
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito+Sans:400,900')
  <!--[if lte IE 9]>
  p.browserupgrade
    | You are using an
    strong outdated
    |  browser. Please
    a(href='https://browsehappy.com/') upgrade your browser
    |  to improve your experience and security.
  <![endif]-->




  .hero
    .header
      .logo
        img(src='/img/uxth-logo-white.png', width='39', height='14∆')
      ul.menu
        li
          a(href='') Ticket
        li
          a(href='') Speakers
        li
          a(href='') Vision
        li
          a(href='') Sponsor
    h2.title
      span UXTH
      | SEA DESIGN 2019
    h1 Two-day conference for people who build  world-class products.
    .ticket
      .time 23-24 Febuary, 2019 
      .place Bangkok, Thailand
      a(href='').button BUY TICKET

  .highlights
    p
    p
    p The UX Thailand conference is a two-day conference made up of thought-provoking presentations, p practical workshops and engaging panel discussions.
    p See last year’s highlights
    p
  .speakers
  p Speakers
  p Liam Hutchinson
  p Experience Design Consultant at ThoughtWorks
  p
  p To be announced…
  p Once all speakers have been annouced, we’ll share our schedule for the full two days.
  p
  p
  p Our vision
  p Empower locally, recognised globally.
  p
  p UXTH
  p Upskill
  p Inspire
  p
  p UX Thailand began as a series of monthly meet-ups, focused on empowering the local community to p do great design. When we looked to push this further, The UX Thailand Conference was born.
  p
  p A non-profit, meaning the organisers are all volunteers, we don’t get paid. The money that is p made is invested in further empowering the local community. We’ll use the revenue to provide p more regular events like our monthly meetup, training courses throughout the year and hope to p build relationships across APAC.
  p
  p With all of this, we hope for Thailand to become a globally recognised leader in design.
  p
  p
  p Sponsor our vision,
  p connect with an engaged audience
  p
  p
  p You and your organisation supporting our vision is important to us, and we’re grateful. To open p this up and give everyone the chance to reach out to an engaged community, we’ve introduced p three levels to our sponsorship package.
  p
  p PACKAGE
  p
  p
  p Early Bird Tickets
  p Ends 1st September 2018
  p
  p
  p 8,000
  p 8,000
  p THB
  p BUY




  script(src='js/vendor/modernizr-3.6.0.min.js')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
  script.
    window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\\/script>')
  script(src='js/plugins.js')
  script(src='js/main.js')
  // Google Analytics: change UA-XXXXX-Y to be your site's ID.
  script.
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  script(src='https://www.google-analytics.com/analytics.js', async='', defer='')
