doctype html
html(class='no-js', lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='manifest', href='site.webmanifest')
    link(rel='apple-touch-icon', href='icon.png')
    // Place favicon.ico in the root directory
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito+Sans:200,800')
  <!--[if lte IE 9]>
  p.browserupgrade
    | You are using an
    strong outdated
    |  browser. Please
    a(href='https://browsehappy.com/') upgrade your browser
    |  to improve your experience and security.
  <![endif]-->




  .hero
    .header
      .logo
        img(src='/img/uxth-logo-white.png', width='39', height='14')
      ul.menu
        li
          a(href='') Ticket
        li
          a(href='') Speakers
        li
          a(href='') Vision
        li
          a(href='') Sponsor
    .container
      h2.title
        img(src='/img/uxth-logo-white.png', width='39', height='14')
        br
        | SEA DESIGN 2019
      h1
        | Two-day conference for people
        span &nbsp;who build world-class products.
      .ticket-box
        .time 23-24 Febuary, 2019 
        .place Bangkok, Thailand
        a(href='').button BUY TICKET

  .highlights
    .text-container
      p The SEA Design is a two-day conference made up of thought-provoking presentations, practical workshops and engaging panel discussions.
    .last-year
    a(href='') See last year’s highlights
  .speakers
    h3 Speakers
    .speaker-list
      .speaker
        .photo
          img(src='/img/speakers/liam-hutchinson.jpg')
          .company
            img(src='/img/speakers/liam-hutchinson-thoughtworks.jpg')
        .name Liam Hutchinson
        .title Experience Design Consultant at ThoughtWorks
      .speaker
        .photo
          img(src='/img/speakers/liam-hutchinson.jpg')
          .company
            img(src='/img/speakers/liam-hutchinson-thoughtworks.jpg')
        .name Liam Hutchinson
        .title Experience Design Consultant at ThoughtWorks
      .speaker
        .photo
          img(src='/img/speakers/liam-hutchinson.jpg')
          .company
            img(src='/img/speakers/liam-hutchinson-thoughtworks.jpg')
        .name Liam Hutchinson
        .title Experience Design Consultant at ThoughtWorks
      .speaker
        .photo
          img(src='/img/speakers/liam-hutchinson.jpg')
          .company
            img(src='/img/speakers/liam-hutchinson-thoughtworks.jpg')
        .name Liam Hutchinson
        .title Experience Design Consultant at ThoughtWorks
      .speaker
        .photo
          img(src='/img/speakers/liam-hutchinson.jpg')
          .company
            img(src='/img/speakers/liam-hutchinson-thoughtworks.jpg')
        .name Liam Hutchinson
        .title Experience Design Consultant at ThoughtWorks
      .speaker
        .photo
          img(src='/img/speakers/liam-hutchinson.jpg')
          .company
            img(src='/img/speakers/liam-hutchinson-thoughtworks.jpg')
        .name Liam Hutchinson
        .title Experience Design Consultant at ThoughtWorks
      .speaker.tba
        .photo
          span ?
          .company
            span
        .name
        .title To be announced…
    p.notes
      | Once all speakers have been annouced,
      span  we’ll share our schedule for the full two days.

  .vision
    h3 Our vision
    .visual
      h4
        | Empower locally,
        span &nbsp;recognised globally.
      img(src='/img/upskill-inspire.png')
    .history
      .text-container
        p UX Thailand began as a series of monthly meet-ups, focused on empowering the local community to p do great design. When we looked to push this further, The UX Thailand Conference was born.
        p A non-profit, meaning the organisers are all volunteers, we don’t get paid. The money that is p made is invested in further empowering the local community. We’ll use the revenue to provide p more regular events like our monthly meetup, training courses throughout the year and hope to p build relationships across APAC.
        p With all of this, we hope for Thailand to become a globally recognised leader in design.
  .sponsor
    h3
      | Sponsor our vision,
      span connect with an engaged audience
    .text-container
      p You and your organisation supporting our vision is important to us, and we’re grateful.
      p To open p this up and give everyone the chance to reach out to an engaged community, we’ve introduced p three levels to our sponsorship package.
    a(href='').button.light PACKAGE
  p
  .ticket
    h3 Early Bird Tickets
    p.note Ends 1st September 2018
    .price
      .discount &nbsp;8,000&nbsp;
      .actual 4,980
        span THB
    a(href='').button BUY




  script(src='js/vendor/modernizr-3.6.0.min.js')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
  script.
    window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\\/script>')
  script(src='js/plugins.js')
  script(src='js/main.js')
  // Google Analytics: change UA-XXXXX-Y to be your site's ID.
  script.
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  script(src='https://www.google-analytics.com/analytics.js', async='', defer='')
