@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-SemiBoldItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-BoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-ExtraBold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-ExtraBoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-Black.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans-BlackItalic.ttf');
  font-weight: 800;
  font-style: italic;
}
:root {
  --color_blue: #098bd5;
  --color_blue_hover: #08a0f5;
  --color_blue_active: #0676b4;
  --color_blur_dark: #0f1d4f;
  --color_blue_light: #66ffff;
  __color_blue_light_shadow: 102, 255, 255, 0.4;
  --color_grey_light: #a8a8a8;
  --color_grey_super_light: #e8e8e8;
  --color_almost_white: #f8f8f8;
  --color_black: #484848;

  --padding_size: 20px;
  --layout_width_size_large: 1200px;
}
body {
  font-family: 'NunitoSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

a {
  color: var(--color_blue);
  text-decoration: none;
  transition: color 0.2s ease;
}
a:hover {
  color: var(--color_blue_light);
}
a[role='button'] {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
